
@{
    ViewBag.Title = "About";
}

<div class="jumbotron container">
    <h1>Online Shopping Area</h1>
    <p class="lead">
        All Kinds of products for men,women, kid and other accessesories are buy form our website.
        We give you the best product and delivery time will be within a short time.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<!--Footer begin-->
<footer class="container bd-footer py-3 bg-light mt-lg-5">
    <div class="container py-2">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/">
                    <span class="fs-5">E-SHOPPING</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Designed and built with all the love in the world by the <a href="/">Website team</a> with the help of <a href="/">Our contributors</a>.</li>
                    <li class="mb-2">Code licensed <a href="/" target="_blank" rel="license noopener">MIT</a>, docs <a href="/" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
                    <li class="mb-2">CEO: Roksana</li>
                    <li class="mb-2">Gmail: e_shop@gmail.com</li>
                    <li class="mb-2">Analytics by <a href="/" target="_blank" rel="noopener">e_shop.com</a>.</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Project Content</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Home</a></li>
                    <li class="mb-2"><a href="/">About</a></li>
                    <li class="mb-2"><a href="/">Contact Us</a></li>
                    <li class="mb-2"><a href="/">Products</a></li>
                    <li class="mb-2"><a href="/">Categories</a></li>
                    @*<li class="mb-2"><a href="/">Lot Sizes</a></li>*@
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Delivery System</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Cash On Delivery</a></li>
                    <li class="mb-2"><a href="/">Free On Delivery</a></li>
                    <li class="mb-2"><a href="/">Credit Card</a></li>
                    <li class="mb-2"><a href="/">Debit Card</a></li>
                    <li class="mb-2"><a href="/">Rocket</a></li>
                    <li class="mb-2"><a href="/">Bkash</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Product Varities</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Men Collection</a></li>
                    <li class="mb-2"><a href="/">Women Collection</a></li>
                    <li class="mb-2"><a href="/">Kids Collection</a></li>
                    <li class="mb-2"><a href="/">Electronics</a></li>
                    <li class="mb-2"><a href="/">Winter Collection</a></li>
                    <li class="mb-2"><a href="/">Accessories</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Issues</a></li>
                    <li class="mb-2"><a href="/">Discussions</a></li>
                    <li class="mb-2"><a href="/">Corporate sponsors</a></li>
                    <li class="mb-2"><a href="/">Open Collective</a></li>
                    <li class="mb-2"><a href="/">Slack</a></li>
                    <li class="mb-2"><a href="/">Stack Overflow</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center bg-light">
        &copy;all rights reserve to e_shop<br />

    </p>
</footer>
<!--Footer End-->
